.nav {
    grid-area: n;
    background-color: aquamarine;
    padding: 20px;
}

.item{
    margin-bottom: 10px;
}

.item img{
    padding: 10px 5px 10px 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.item a {
    color: black;
    text-decoration: none;
}

.item a:hover {
    color: blue;
    text-decoration: underline;
}

.item a.active {
    color: gray;
}